{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="div">
        <h2 class="display-4 d-flex justify-content-center mt-4">Sign up to our newsletter</h2>
    </div>
    <div class="row d-flex justify-content-center mt-4">
        <!--Subscribe--> 
        <div class="col">
          <p>Join our community of health enthusiasts and let us help you to make informed choices for a balanced and energised life. 
            By signing up, you'll gain exclusive access to personalised tips from certified nutritionists, the latest updates on our health products, and special offers tailored just for you. </p>
            
            <p class="text-white">NEWSLETTER</p>
            <div class="card">
              <div class="card-body">
                <p>Subscribe now and embark on a journey towards a happier, healthier you with Nutritionist!</p>
                <form method="POST" action="{% url 'subscribe' %}" id="">
                    {% csrf_token %}
                    {{ subscribe_form|crispy }}
                  <button class="btn btn-dark text-uppercase" type="submit">
                    Subscribe 
                    <span class="icon">
                        <i class="fas fa-arrow-right"></i>
                    </span>
                  </button>
                </form>
              </div>
            </div>
          </div>
    </div>
</div>
{% endblock %}

