<footer class="bg-footer py-5">
    <div class="d-flex flex-row justify-content-center">
      <a target="_blank" href="https://www.pinterest.co.uk/">
        <i class="fa fa-pinterest fa-2x p-3 text-light" aria-hidden="true"></i>
        <span class="sr-only">Pinterest</span>
    </a>
      <a target="_blank" href="https://www.instagram.com/">
        <i class="fa fa-instagram fa-2x p-3 text-light" aria-hidden="true"></i>
        <span class="sr-only">Instagram</span>
    </a>
    </div>
    <div class="d-flex flex-row justify-content-center">
      <small class="text-light">&copy; Copyright The Nutritionist 2023</small>
    </div>
 </footer>