<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1>Our Stockists</h1> 
   <table>
        {% for stockist in stockists %}
        <tr>
        {% if stockist.has_stock %}
            <td>{{ stockist.name }}</td>
        {% else %}
            <td><strike>{{ stockist.name }}</strike></td>
        {% endif %}
        </tr>
        {% empty %}
        <tr><td>There are no stockists at present</td></tr>
        {% endfor %}
   </table>
</body>
</html>